<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iat359project">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- Jot Down created by Michael Su and Stephen Kerschbaumer Fall 2022 -->

    <application
        android:configChanges="orientation"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/jot_down_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/jot_down_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.IAT359Project"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">


        <activity
            android:name=".PincodeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImageActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MoodActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TextActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>